$violet:#301B3F;
$fondoEnc:#f6d098b7;
$letras:khaki;
$lavanda:#d9a4ff;


/*Media*/


/*tamaño compu*/
.lavs{
    display: flex;
    justify-content: center;
    height: 150px;

}

.nav-link{
    background-color: $violet;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header__div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $fondoEnc;
    width: 100%;
    height: 150px;
}
.header__h1--style{
    color: $violet;
    text-align: center;
    font-family: 'Andada Pro', serif;
    font-size: 4em;
    width: 400px;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 60px;
}


nav{
    background-color: $violet;
    width: 100%;
    font-size: 20px;
}


a {
    text-decoration: none;

}

/*.menu{
    position: relative;
    padding: 5px;
    color: $letras;
    background-color: $violet;
    }*/


ul li :hover{
    background-color: $letras;
    color: $violet;
}

ul li a :hover{
        color: $violet;
}

ul ul{
    position: absolute;
    display: none;
    background-color: $lavanda;
}


ul ul li a{
    background-color: #d9a4ff;
    color: #574a00;
}


ul li:hover ul{
    display: block;
}

li{
    list-style: none;
}



@media only screen and (max-width: 767px) {
    .header__div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $fondoEnc;
        width: 100%;
        height: 100px;
    }

    .lavs{
        display: flex;
        justify-content: center;
        height: 90px;

    }
    
    .header__h1--style{
        display: flex;
        color: $violet;
        text-align: center;
        font-family: 'Andada Pro', serif;
        font-size: 350%;
        width: auto;
        height: 80px;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    
}
@media only screen and (max-width: 479px){
    
    .header__div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $fondoEnc;
        width: 100%;
        height: 100px;
    }

    .lavs{
        display: flex;
        justify-content: center;
        height: 90px;

    }
    
    .header__h1--style{
        display: flex;
        color: $violet;
        text-align: center;
        font-family: 'Andada Pro', serif;
        font-size: 250%;
        width: auto;
        height: 80px;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    
    .navbar{
        height: 50px;
    }
}