$violet:#190e20;
$letras:cornsilk;


.footer--style {
    background-color: $violet;
    color: $letras;
    width: 100%;
    height: 30%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.footer__a--style{
    color:$letras;
    text-decoration: none;
}

#sub{
    text-decoration: none;
    color:$letras;
    background-color: $violet;
} 
