@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,600&display=swap");
/*Para h1*/
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,600&family=Bitter:ital,wght@1,300&family=Source+Serif+Pro:ital,wght@1,300&display=swap");
/*h2 index*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/*NOSOTROS*/
* {
  margin: 0;
  padding: 0;
}

/*Media*/
/*tamaño compu*/
.lavs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.nav-link {
  background-color: #301B3F;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6d098e3;
  width: 100%;
  height: 150px;
}

.header__h1--style {
  color: #301B3F;
  text-align: center;
  font-family: 'Andada Pro', serif;
  font-size: 4em;
  width: 400px;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 60px;
}

nav {
  background-color: #301B3F;
  width: 100%;
  font-size: 20px;
}

a {
  text-decoration: none;
}

/*.menu{
    position: relative;
    padding: 5px;
    color: $letras;
    background-color: $violet;
    }*/
ul li :hover {
  background-color: khaki;
  color: #301B3F;
}

ul li a :hover {
  color: #301B3F;
}

ul ul {
  position: absolute;
  display: none;
  background-color: #d9a4ff;
}

ul ul li a {
  background-color: #d9a4ff;
  color: #574a00;
}

ul li:hover ul {
  display: block;
}

li {
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .header__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f6d098e3;
    width: 100%;
    height: 100px;
  }
  .lavs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90px;
  }
  .header__h1--style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #301B3F;
    text-align: center;
    font-family: 'Andada Pro', serif;
    font-size: 350%;
    width: auto;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 479px) {
  .header__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f6d098e3;
    width: 100%;
    height: 100px;
  }
  .lavs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 90px;
  }
  .header__h1--style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #301B3F;
    text-align: center;
    font-family: 'Andada Pro', serif;
    font-size: 250%;
    width: auto;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .navbar {
    height: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .main--style1 {
    background-color: #e1c1ff85;
    height: 170px;
    font-family: 'Source Serif Pro', serif;
    font-size: 0.5em;
    font-weight: bolder;
    text-align: center;
    color: #351500;
    margin: 50px 50px 50px 50px;
    padding-top: 55px;
    border-radius: 25px;
    border-style: groove;
    border-color: #F6D198;
  }
  .main--style2, .main--style3 {
    background-color: #e1c1ff85;
    font-size: larger;
    text-align: justify;
    color: #351500;
    font-style: italic;
    margin: 10px 5px 10px 5px;
    padding: 5px 30px 5px 30px;
    border: #F6D198 solid 1px;
    border-radius: 10px;
  }
  .main__h2--font {
    font-size: 140%;
    padding-bottom: 1rem;
  }
  .main__h3--font {
    text-align: center;
    font-style: normal;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    padding-bottom: 30px;
  }
}

body {
  color: cornsilk;
  background-image: url(fondo.png);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--style1 {
  background-color: #e1c1ff85;
  height: 170px;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  color: #351500;
  margin: 50px 50px 50px 50px;
  padding-top: 55px;
  border-radius: 25px;
  border-style: groove;
  border-color: #F6D198;
}

.main--style2, .main--style3 {
  background-color: #e1c1ff85;
  font-size: larger;
  text-align: justify;
  color: #351500;
  font-style: italic;
  margin: 10px 5px 10px 5px;
  padding: 5px 30px 5px 30px;
  border: #F6D198 solid 1px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px cornsilk solid;
}

.main--style3 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imgg nomb" "imgg desc" "imgg cuid";
  -ms-grid-columns: 38% 48%;
      grid-template-columns: 38% 48%;
  -ms-grid-rows: 50px 1fr 1fr;
      grid-template-rows: 50px 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 10px;
}

.imgg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: imgg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nomb {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nomb;
}

.desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc;
}

.cuid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cuid;
}

.main__h2--font {
  font-size: 140%;
  padding-bottom: 1rem;
}

.main__h3--font {
  text-align: center;
  font-style: normal;
  font-family: 'Courgette', cursive;
  font-size: 2rem;
  padding-bottom: 30px;
}

.imag {
  height: auto;
  width: 100%;
  /*display: grid;*/
}

.prop {
  min-width: 200px;
  min-height: 200px;
  /*border: solid 2px rgba(255, 255, 255)*/
}

#formulario {
  background-color: #e1c1ff85;
  color: #351500;
  margin: 10px 5px 10px 5px;
  padding: 5px 30px 5px 30px;
  border: #F6D198 solid 1px;
  border-radius: 10px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

/*Nuestros Productos*/
.sucu-imagen {
  border: 2px solid cornsilk;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.pot-imagen {
  border: 2px solid cornsilk;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.lav-imagen {
  border: 2px solid cornsilk;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

/*Servicios*/
.contenedor {
  width: 50%;
  margin: auto;
}

.carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 90vh;
}

.footer--style {
  background-color: #190e20;
  color: cornsilk;
  width: 100%;
  height: 30%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__a--style {
  color: cornsilk;
  text-decoration: none;
}

#sub {
  text-decoration: none;
  color: cornsilk;
  background-color: #190e20;
}
/*# sourceMappingURL=estilos.css.map */